<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Eo_circle_pink_letter-s.svg/512px-Eo_circle_pink_letter-s.svg.png?20200417164246o">
    <title>SPPT</title>
</head>
<body>

    <%- include('navbar') %>
    <header>
        <div class="header-info">
            <img class="rounded-circle" src="https://scontent.fbkk28-1.fna.fbcdn.net/v/t1.6435-9/87168474_800022710502213_2429050296492621824_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGpKgDfJJprVpbdJO5ge4SglQvOo_wSaQ-VC86j_BJpD_4Elg3mM2079L6apVLrGSXQDdLKkvBFS5n0W0rNN_MH&_nc_ohc=GFg2_eVO5f8AX9iiBSY&_nc_ht=scontent.fbkk28-1.fna&oh=00_AT9WVYy9K0Q6du6U5eGOusIVyoXnQJu7rCWTZQtEvL_i-w&oe=62DCD84A" alt="" width="300px" height="300px">
            <h1 class="mt-4">About me</h1>
            <p class="header-info fw-bolder"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ab natus laudantium saepe placeat ipsa corporis ipsum doloribus illum autem reiciendis quod aliquam, cum odit vitae, explicabo dignissimos. Aperiam soluta, at porro distinctio autem id dignissimos vitae praesentium nemo. Fugit sint odit ducimus doloribus repudiandae, illo mollitia eligendi praesentium nulla. </p>
        </div>
    </header>
    <%- include('footer') %>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>