<style>
    div.footer{
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: #402030;
        color: white;
    }
</style>

<div class="footer mt-5">
    <p>© 2022 Sila Sae-ngow</p>
</div>