<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Eo_circle_pink_letter-s.svg/512px-Eo_circle_pink_letter-s.svg.png?20200417164246o">
    <title>SPPT</title>
</head>
<body>

    <%- include('navbar') %>
    <header>
        <div class="header-info">
            <h1>Welcome to my website</h1>
            <p class="header-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod quas totam blanditiis, deleniti ipsam laudantium, sapiente eaque necessitatibus vero temporibus cumque consectetur velit. Dolor corrupti asperiores earum quo culpa eius dolorem expedita, totam esse in delectus officia voluptatibus quibusdam doloremque inventore ab consequuntur quisquam eum ad porro. Nostrum iure repudiandae aspernatur assumenda numquam culpa repellendus, animi itaque nesciunt unde delectus aliquam ex aperiam architecto accusamus autem rem suscipit et velit officiis ipsa iusto fugiat illo. Iure est quas consequatur magnam veritatis corporis sequi, accusantium natus voluptatem velit dignissimos sed, harum assumenda. Vitae, molestiae sint. Tempore inventore quod quos expedita voluptate!</p>
            <a href="/store" class="btn btn-danger ps-5 pe-5"> Products </a>
        </div>
    </header>
    <%- include('footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>