<nav class="sticky-top">
    <span>S  P  P  T</span>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="menu-bar active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="menu-bar" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="menu-bar" href="/store">Store</a>
        </li>
        <li class="nav-item">
            <a class="menu-bar" href="/contact">Contact</a>
        </li>
    </ul>
    
    <ul class="nav justify-content-center">
        <li class="nav-item">
                <a class="menu-login" href="/login">Login</a>
        </li>
        /
        <li class="nav-item">
                <a class="menu-register" href="/register">Register</a>
        </li> 
    </ul>
</nav>